/*----- redefinisane ---*/
.form-control { 
	background-color: rgba(255, 255, 255, 0.58);
	border: 1px solid rgba(50, 50, 50, 0.58);
    border-radius: 4px;
    width:300px;
	/*height: 50px;*/
    /*padding: 16px 12px;*/
    /*font-size: 19px;*/
    margin-left:140px;

}
.form-label{
	display:flex; height:35px; align-items:center;
}

div#tchMap {
  height: 500px;
}
/*----- ----------- ---*/

.olControlLayerSwitcher .layersDiv{
    background-color: rgba(90, 90, 90, 0.58);
}

.olControlLayerSwitcher label.labelSpan{
    display:inline;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
}

@media(min-width:1900px) {
    .container {
        width: 1800px;
    }
}

@media(min-width:1680px) {
    .container {
        width: 1600px;
    }
}