#sign {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

#choose {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
    margin-bottom: 5px;
    margin-left: 254px;
}
#verify {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
#getKeys {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
    margin-bottom: 20px;
    margin-left: 500px;
}